  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

  :root {
    --MainBlack: #000000;
    --LabelBlack: #2C2C2C;
    --MainWhite: #FFFFFF;
    --BorderWhite: #E7E7E7;
    --Blue: #1F28EB;
    --HoverBlue: #8d92f5;
    --CheckboxBlue: #EDF2F7;
    --TextColour: #83879B;

  }

* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  background: black;
}

body {
  margin: 0;
}

